.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1b5e20;
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

button {
    background-color:#1b5e20;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

button:hover {
    background-color: #1b5e20;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #1b5e20;

    color: white;
}

.btnFileUpload{
    border: 2px solid green;
}

.btnFileUpload{
    border: 2px solid black;
}