.homepage {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #e3f2fd, #a5d6a7);
    overflow: hidden;
    /* background-color: #2E7D32; */
}

.upload-box {
    padding: 30px;
    border-radius: 15px;
    background: rgb(237, 237, 237);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background: #2E7D32;
    color: rgb(246, 241, 241);
    border-radius: 5px;
    font-weight: bold;
}

.custom-file-upload input {
    display: none;
}

